/* formations section styling */
.formations {
  color:#111;
  background: #fff;
}
.formations .title::before {
  background: #111;
}
.formations .title::after {
  background: #fff;
  content: "competences";
}
.formations .form-content .card{
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}
.formations .form-content .card:hover{
  background: #d24439;
}
.formations .form-content .card .box{
  transition: all 0.3s ease;
}
.formations .form-content .card:hover .box{
  transform: scale(1.05);
}
.formations .form-content .card i{
  font-size: 50px;
  color: #d24439;
  transition: color 0.3s ease;
}
.formations .form-content .card:hover i{
  color: #fff;
}
.formations .form-content .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color: #fff;
}
.formations .form-content .card p{
  color: #fff;
}
.formations .form-content{
  display: flex;
  flex-wrap: content;
  align-items: center;
  justify-content: space-between;
}