/* projets section styling */
.projects {
  color:#fff;
  background: #111;
}
.projects .title::before {
  background: #fff;
}
.projects .title::after {
  background: #111;
  content: "En production";
}
.projects .pro-content .card{
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  /* padding: 20px 25px; */
  cursor: pointer;
  transition: all 0.3s ease;
}
.projects .pro-content .card:hover{
  background: #d24439;
}
.projects .pro-content .card .box{
  transition: all 0.3s ease;
  background: #d24439;
  border-radius: 5px;
}
.projects .pro-content .card .box img {
  height: 170px;
  width: 300px;
  margin-top: 5px;
}
.projects .pro-content .card:hover .box{
  transform: scale(1.05);
}
.projects .pro-content .card i{
  font-size: 50px;
  color: #fff;
  transition: color 0.3s ease;
  margin-top: 0;
  padding-bottom: 5px;
}
.projects .pro-content .card:hover i{
  color: #fff;
}
.projects .pro-content .card p {
  color: #d24439 !important;
}
.projects .pro-content .card:hover p {
  color: #fff!important;
  padding-bottom: 5px;
}
.projects .pro-content .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color: #fff;
}
.projects .pro-content{
  display: flex;
  flex-wrap: content;
  align-items: center;
  justify-content: space-between;
}
