
/* projects section styling */
.projects {
  color:#fff;
  /* background: linear-gradient(-45deg ,#111,#d24439,#fff); */
  background: #111;
}

.projects .title::after {
  content: "En production";
  background: #111;
}

.projects .title::before {
  background: #fff; 
}

.projects .carousel .card {
  background:#111;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
  background: linear-gradient(-45deg ,#111,#d24439,#fff);
  /* opacity: 0.8; */
}

/* .projects .carousel .card:hover {
  background: #111;
} */

.projects .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space space-between;
  transition: all 0.3s ease;
}

/* .projects .carousel .card:hover .box {
  transform: scale(1.05);
} */

.projects .carousel .card .text {
  font-size: 25px;
  font-weight: 800;
  margin: 10px 0 7px 0;
}

.projects .carousel .card p {
  font-size: 30px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color:#fff;
}
.projects .carousel .card:hover p {
  color: #111;
}

.projects .carousel .card img {
  height: 250px;
  width: 350px;
  object-fit: cover;
  border-radius: 5px;
  /* border: 5px solid #d24439; */
  transition: all 0.3s ease;
}

.projects .carousel .card:hover .fab{
  color: #fff;
  font-size: 50px;
}