/* projects section styling */
.projects {
  color        : #fff;
  background   : linear-gradient(-45deg, #111, #d24439, #fff);
  /* background: #111; */
}
.projects .title::before {
  background: #fff;
}

.projects .text-footer span {
  color:#d24439;
  font-size:bold;
}
