
/* teams section styling */
.teams {
 color: #fff;
 background: #111;
}

.teams .title::after{
  content: "Colaborateur";
  color:#d24439;
  background: #111;
}

.teams .title::before{
  background: #fff;
}

.teams .carousel .card{
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  background: #222;
  transition: all 0.3s ease;
}

.teams .carousel .card:hover{
  background: linear-gradient(-45deg ,#111,#d24439,#fff);
}

.teams .carousel .card .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease;
}

.teams .carousel .card:hover .box {
  transform: scale(1.05);
}

.teams .carousel .card .text  {
  font-size: 25px;
  font-weight: 700;
  margin: 10px 0 7px 0;
}

.teams .carousel .card p {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0 7px 0;
  color: #d24439;
}
/* 
.teams .carousel .card:hover p {
  color: #;
} */

.teams .carousel .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #d24439;
  transition: all 0.3s ease;
}

.teams .carousel .card:hover img {
  border-color: #fff;
}