
/* Responsive media query start */
@media(max-width: 1300px) {
  .banner .max-width {
    margin-left: 0px;
  } 
}

@media(max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
  .projects .proj-content .card .box a img {
    height: 180px ;
    width: 221px ;
  }
}

@media(max-width:991px) {
  .max-width {
    padding: 0 50px;   
  }
  .projects .proj-content .card .box a img {
   height: 175px;
   width: 207px;
  }
}

@media(max-width:961px) {
  .max-width {
    padding: 0 50px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content:"\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 50vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease ;
  }
  .navbar .menu .active {
    left: 0;
  }
  .navbar .menu li {
    display: block;    
  }
  .navbar .menu li a{
    display: inline-block;
    margin-left: 20px 0;
    font-size: 25px;
  }
  .banner .banner-content .text-1 {
    font-size: 75px;
  }
  .banner .banner-content .text-3 {
    font-size: 35px;
  }
  .banner .banner-content a{
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width{
    max-width:800px ;
  }
  .about .about-content .column {
    width: 50%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  } 
  .about .about-content .right {
    flex: 100%;
  }
  .services .serv-content .card {
    width: calc(70% - -178px);
    margin-bottom: 20px;
    box-sizing: none;
  }
  .services .serv-content .card {
    width:calc(70% - -178px)!important;
  }
  .projects .proj-content .card {
    width:calc(70% - -178px)!important;
  }
  .projects .proj-content .card .box a img {
    height: 215px ;
    width: 445px ;
  }
}

@media(max-width:690px) {
  .max-width{
    padding: 0 23px;
  }
  .banner .banner-content .text-1 {
    font-size: 60px;
  }
  .banner .banner-content .text-3 {
    font-size: 32px;
  }
  .banner .banner-content .btn {
    font-size:20px;
    padding: 9px 25px ; 
  }
  .services .serv-content .card {
     width:calc(70% - -178px);
  }
  .projects .proj-content .card {
     width:calc(70% - -178px)!important;
  }
  .projects .proj-content .card .box a img {
    height: 180px ;
    width: 367px ;
  }
}

@media (max-width:500px) {
  .banner .banner-content .text-1 {
    font-size: 50px;
    padding-left: 0;
  }
  .banner .banner-content .text-3 {
    font-size:  27px;  
  }
  .services .serv-content .card {
   width: 100%;
  }
  .projects .proj-content {
  justify-content: center !important;
  }
  .projects .proj-content .card .box img {
    height: 180px ;
    width: 285px ;
  }
}
