/* Menu Btn design */

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.banner .banner-content .btn {
  display: inline-block;
  background:#f56253 ;
  color: #fff;
  font-size: 20px;
  padding: 12px 36px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid #f56253  ;
  transition: all 0.3s ease;
  font-weight: 500;
}

.banner .banner-content .btn:hover {
  color: #fff; 
  background: none;
}

.banner .banner-content .fab {
  opacity: 0.7;
  display: inline-block;
  margin-top: 10px;  
  color: #f56253 ;
  font-size: 30px;
}

.banner .banner-content .fab:hover {
  color: #fff; 
  background: black;
}

/* Menu Btn About design */

.about .about-content .right a {
  display: inline-block;
  background: #f56253;
  color: #fff;
  font-size: 20px;
  padding:1px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 1px solid black;
  transition: all 0.3s ease;
  font-weight: 500 !important;
}
.about .about-content .right a:hover {
  color: #f56253;
  background: none;
}